<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Myeong</title>
</head>
<body>
    <h1>- HTML: Hyper Text Markup Language</h1>
    <p>* 텍스트를 넘나들 수 있도록(하이퍼텍스트) 표기(마크업)하는 문법</p>
    <h1>Myeong</h1>
    <hr>
    <p>Currently learning in SSAFY Seoul Class1</p>
    <a href="https://www.ssafy.com">Go to SSAFY Home Page</a>
    <ul>
        <li>Python</li>
        <li>Java</li>
        <li>JavaScript</li>
    </ul>
    <h2>검색 다모아</h2>
    <h3>네이버</h3>
    <form action="https://search.naver.com/search.naver">
        <input type="text" name="query" placeholder="type keywords">
        <input type="submit" value="Search">
    </form>
    <h3>구글</h3>
    <form action="https://www.google.com/search">
        <input type="text" name="q" placeholder="type keywords">
        <input type="submit" value="Search">
    </form>
    <h3>다음</h3>
    <form action="https://search.daum.net/search">
        <input type="text" name="q" placeholder="type keywords">
        <input type="submit" value="Search">
    </form>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Telegram Chatbot</title>
</head>
<body>
    <h1>Telgram 메세지 보내기</h1>
    <hr>
    <form action="/send">
        <input type="text" name="msg">
        <input type="submit">
    </form>
</body>
</html>

