<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Past Life Adventure</title>
</head>
<body>
    <h1>Past Life Adventure</h1>
    <hr>
    <p>Let's see what our past life was.</p>
    <form action="/result">
        <input type="text" placeholder="type your name" name="userName">
        <input type="submit" value="Go">
    </form>
</body>
</html>